<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Raspberry Pi Web Controller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1 class="title">Raspberry Pi Web Controller</h1>
  <h6 class="small-title">Current User: {{ current_user }}</h6>
  <div style="margin: 1em">
    <div class="button-wrapper">
      <img src="{{ url_for('static', filename='assets/raspberry-pi-zero.png') }}" alt="Raspberry Pi Zero Board" width="60%" />
    </div>
    <div class="button-wrapper">
      <button class="button-82-pushable" role="button" id="btn1">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Blink Once
        </span>
      </button>
    </div>
    <div class="button-wrapper">
      <button class="button-82-pushable" role="button" id="btn5">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Blink 5 Times
        </span>
      </button>
    </div>
    <div class="button-wrapper">
      <button class="button-82-pushable" role="button" id="btn10">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Blink 10 Times
        </span>
      </button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>